**/migrations/**
!**/migrations
!**/migrations/__init__.py
**__pycache__/
# static/
static/CACHE/ 
# media/
.env
passenger_wsgi.py
# media
tmp/
private_key.pem
public_key.pem
db.sqlite3
media/
static/
myenv/
settings.py/
logs/django.log