# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
myenv/

# Django database
db.sqlite3

# Environment variables
.env

# Static & media
media/
staticfiles/
static/CACHE/

# Logs
logs/
*.log

# Keys
private_key.pem
public_key.pem

# IDE
.vscode/
.idea/

# Temporary files
tmp/

# Django migrations (keep only __init__.py)
**/migrations/*
!**/migrations/__init__.py